@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border p-0;
  }

  body {
    @apply max-h-[100dvw] max-w-[100dvw] bg-eerieBlack font-Oswald text-white;
  }

  h1 {
    @apply text-5xl sm:text-7xl lg:text-8xl 2xl:text-9xl;
  }
  h2 {
    @apply text-6xl;
  }
  h3 {
    @apply text-xl sm:text-2xl lg:text-3xl 2xl:text-4xl;
  }

  button {
    @apply button_df__transition rounded-md border-2 border-solid border-transparent bg-eerieBlack px-[0.4em]
    py-[0.2em] text-xl text-white hover:cursor-pointer hover:border-white xl:text-2xl;
  }
}

@layer components {
  /* icon */
  .material-symbols-outlined {
    font-size: 2.5rem;
    font-variation-settings:
      "FILL" 0,
      "wght" 400,
      "GRAD" 0,
      "opsz" 24;
  }

  .button_df__transition {
    transition: border-color 0.25s;
  }
  .focus__df {
    @apply focus:outline focus:outline-[2.5px] focus:outline-offset-4 focus:outline-white
    focus-visible:outline focus-visible:outline-[2.5px] focus-visible:outline-offset-4 focus-visible:outline-white;
  }

  /* BoxCountryDateTime */
  .box_date_time__link:hover .box_date_time__bg {
    @apply scale-[10];
  }

  .box_date_time__bg {
    @apply transition-all duration-500 ease-in;
  }

  .box__weather_df {
    @apply relative z-0 h-36 w-28 overflow-hidden rounded-2xl shadow-xl lg:w-36 2xl:w-40;
  }

  .box__weather_flex {
    @apply flex flex-col justify-between p-4;
  }

  .box__weather_head {
    @apply text-xl lg:text-2xl;
  }

  .box__weather_result {
    @apply text-end text-xl lg:text-3xl;
  }

  .box__weather_sub_result {
    @apply text-end text-xs lg:text-sm;
  }

  /* layout content */
  .layout__content {
    @apply w-[90dvw] sm:max-w-[45rem] lg:max-w-[76rem] 2xl:w-[80dvw] 2xl:max-w-[85rem];
  }

  /* SignUpPage && LoginPage */
  .authentication__input {
    @apply h-10 rounded-md pl-4 text-black placeholder:text-black/70;
  }

  /* NavLink Style *add your own color */
  .navlink__style {
    @apply rounded-md hover:cursor-pointer 
    hover:shadow-md hover:transition-all hover:duration-700;
  }

  /* AuthenticationForm bg*/
  .bg__gradient {
    @apply bg-gradient-to-br from-[#19547b] to-[#ffd89b];
  }
}
